{% extends 'base.html' %}

{% block head %}
<title> Odin's Table</title>
{% endblock %}

{% block body %}
    <style>
    body{
    background-image: url("/static/img/deck_back.jpg");}

    .button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    padding: 7px 12px;
    width: 147px;
    margin-top: 5px;
}

.buttono {
  background-color: silver;
  color: darkslateblue;
  font-weight: bold;
  margin-top:10px;

}

.buttono:hover {
  background-color: green;
  color: #FFFFFF;
  border: 2px solid green;
  font-weight: bold;

}

.form-control {
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    margin: 5px;
    padding: 4px 32px;
}
    .t {
    color:#ffffff;
    text-align: center;
    background:sandybrown;
    margin:auto;
    max-width:550px;
    margin-top:5%;
}
    </style>

    <div id="navbar">
        <a href="/magic">Home</a>
        <a href="/stats/{{ players[-1] }}">My Stats</a>
        <a href="/decks">Best Decks</a>
        <a href="/magic_result">Add Result</a>
        <a href="/add_deck">Add Deck</a>
        <a href="http://plot:5001/chart">Chart</a>
        <a style="float: right; margin-right: 2%" href="/logout">Logout</a>
        </div>

    <form action="/add_deck" method="POST">
        <div class="form-control">
            <h1 class="t">What deck do you want to add?</h1>

            <input name="deck" placeholder="Deck's name" type="text">

            <select name="format">
                <option value="Pioneer">Pioneer</option>
                <option value="Modern">Modern</option>
                <option value="Standard">Standard</option>
            </select>

            <select name = "user_id">
            {% for player in players[0] %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}

            </select>


            <button class="button1 buttono" type="submit">Save</button>
        </div>
    </form>

{% endblock %}