<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Bienvenido feroz guerrero</title>

    <style>
        body {
    background-image: url("/static/img/mt.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #085110;
}
.door {
    width: 63%;
    position: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: contain;
}
    </style>

</head>

<body>

<div class="door">
    <a href="/magic">

        <img class ="door"src="../static/img/in_valhalla.jpg"  alt="MAGIC">

    </a>
</div>

</body>
</html>
